.section-sixth {
    width: 1440px;
    height: 800px;
    position: relative;
    overflow: hidden;
    transform: translateX(-26px);
}

.place-list {
    width: 1839px;
    height: 100%;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.place-list__item {
    width: 453px;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}

.place-list__item-image {
    height: 100%;
}

.place-list__item-name {
    position: absolute;
    top: 676px;
    left: 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.place-list__item-name p {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.place-list__item-name a {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

.section-sixth__action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-sixth__action-left,
.section-sixth__action-right {
    width: 42px;
    height: 46px;
    padding: 8xp;
}

.section-sixth__action-left {
    border-radius: 0px 8px 8px 0px;
}

.section-sixth__action-right {
    border-radius: 8px 0px 0px 8px;
}

@media (max-width: 767px) {
    .section-sixth {
        width: 100%;
        height: 535px;
        position: relative;
        overflow: hidden;
        transform: translateX(0px);
        margin-top: 80px;
    }

    .place-list {
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 0px;
        transform: translateX(-50%);
    }

    .place-list__item {
        width: 319px;
        height: 100%;
        overflow: hidden;
        border-radius: 16px;
        position: relative;
    }

    .place-list__item-image {
        height: 100%;
        width: 100%;
        border-radius: 16px;
    }

    .place-list__item-name {
        position: absolute;
        top: 429px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .place-list__item-name p {
        font-size: 28px;
        line-height: 44px;
        color: #FFFFFF;
    }

    .place-list__item-name a {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: underline;
        cursor: pointer;
    }

    .section-sixth__action {
        display: none;
    }

}