.section-fifth {
    width: 100%;
    height: 749px;
    position: relative;
    margin-top: -6px;
    margin-left: 6px;
}

.section-fifth__content {
    width: 575px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 60px;
}

.section-fifth__content-title {
    width: 524px;
}

.section-fifth__content-title h3 {
    font-family: 'Lora', sans-serif;
    font-size: 64px;
    line-height: 74px;
}

.section-fifth__content-description {
    font-size: 16px;
    line-height: 22px;
}

.section-fifth__img {
    width: 716px;
    height: 533px;
    position: absolute;
    border-radius: 24px 0px 0px 24px;
    left: 692.5px;
}

.section-fifth__list-item {
    width: 1377px;
    height: 336px;
    display: flex;
    gap: 31px;
    position: absolute;
    top: 412px;
}

.section-fifth__item {
    position: relative;
    width: 321px;
    height: 100%;
    background: #F4F0EA;
    border-radius: 16px;
}

.section-fifth__item-img {
    width: 81.67px;
    height: 86px;
    position: absolute;
    top: 66px;
    left: 138px;
}

.section-fifth__item-content {
    width: 285px;
    height: 110px;
    position: absolute;
    top: 208px;
    left: 14px;
}

.section-fifth__item-content p {
    font-size: 16px;
    line-height: 22px;
}

@media (max-width: 767px) {
    .section-fifth {
        width: 100%;
        height: 722px;
        position: relative;
        margin-top: -56px;
        margin-left: 6px;
    }

    .section-fifth__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
    }

    .section-fifth__content-title h3 {
        font-family: 'Lora', sans-serif;
        font-size: 30px;
        line-height: 42px;
    }

    .section-fifth__content-description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .section-fifth__img {
        width: 375px;
        height: 289px;
        position: absolute;
        border-radius: 0px;
        left: 0px;
        top: 240px;
    }

    .section-fifth__list-item {
        width: 996px;
        height: 327px;
        display: flex;
        gap: 10px;
        position: absolute;
        top: 470px;
        left: 8px;
    }

    .section-fifth__item {
        position: relative;
        width: 245px;
        height: 100%;
        background: #F4F0EA;
        border-radius: 16px;
    }

    .section-fifth__item-img {
        width: 81.67px;
        height: 86px;
        position: absolute;
        top: 32px;
        left: 92px;
    }

    .section-fifth__item-content {
        width: 211px;
        height: 110px;
        position: absolute;
        top: 153px;
        left: 17px;
    }

    .section-fifth__item-content p {
        font-size: 16px;
        line-height: 22px;
    }


}