@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_base.css';

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.main-content {
    margin-top: 70px;
    padding: 0px 26px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (min-width: 767px) {
    .icon-mobile {
        display: none;
    }

    .product-item__info-mobile {
        display: none !important
    }

    .nav__menu-logo-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .main-content {
        margin-top: 0px;
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}