@import 'base/_reset.css';
@import 'base/_typography.css';
@import 'base/_base.css';

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* Header */

.header {
    width: 100%;
    height: 883px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 883px;
    position: absolute;
}

.header__banner--background {
    background-image: url('/public/images/desktop/banner.jpg');
}

.nav {
    width: 1376px;
    height: 86px;
    margin-top: 16px;
    padding-top: 14px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.nav__sale-timer {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.nav__sale-timer-text {
    font-size: 12px;
    line-height: 20x;
}

.countdown {
    gap: 4px;
}

.countdown__item {
    display: flex;
    flex-direction: column;
    height: 24px;
}

.countdown__item--days {
    width: 28px;
}

.countdown__item--hours {
    width: 34px;
}

.countdown__item--minutes {
    width: 22px;
}

.countdown__item--seconds {
    width: 22px;
}

.countdown__duration {
    font-size: 14px;
    line-height: 15px;
}

.countdown__label {
    font-size: 9px;
    line-height: 9px;
}

.countdown__separator {
    font-size: 11px;
    line-height: 18px;
}

.nav__menu {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}

.nav__menu-icon {
    gap: 8px;
}

.nav__menu-text {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav__menu-list {
    display: flex;
    gap: 22px;
    color: #FFFFFF;
    width: 227px;
    height: 19px;
}

.nav__menu-search,
.nav__menu-bag {
    display: flex;
    gap: 9px;
}

.nav__menu-text {
    font-size: 14px;
    line-height: 22px;
}

.nav__menu-logo {
    position: absolute;
    top: 76px;
    left: 702.5px;
}

.nav__menu-logo-mobile {
    display: none;
}

.header__title {
    width: 822px;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 307px;
    left: 301px;
}

.header__title-text {
    font-family: 'Lora', sans-serif;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF
}

/* Main Content */

.main-content {
    margin-top: 70px;
    padding: 0px 26px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 962px;
    gap: 8px;
    margin-top: 10px;
}

.section-first__title {
    font-family: 'Lora', sans-serif;
    font-size: 40px;
    line-height: 54px;
}

.section-first__image {
    display: flex;
    gap: 30px;
    height: 700px;
}

.section-first__image-item {
    width: 379px;
}

.section-first__content {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    width: 816px;
    height: 192px;
    text-align: center;
}

.section-first__content p {
    font-size: 16px;
    line-height: 22px;
}

.section-second {
    width: 1367px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    transform: translateX(6px);
}

.section-second__item {
    font-size: 20px;
}

.section-second__img,
.section-second__item,
.section-second__content1,
.section-second__content2 {
    width: 684px;
    border-radius: 20px;
}

.section-second__content1 {
    background-color: #F4F0EA;
    padding: 48.5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 20px;
}

.section-second__content2 {
    background-color: #F4F0EA;
    padding-left: 48.5px;
    padding-right: 42.5px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 40px;
}

.section-second__title {
    font-family: 'Lora', sans-serif;
    font-size: 64px;
    line-height: 74px;
}

.section-second__subcontent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-second__subcontent-title {
    font-size: 20px;
    line-height: 30px;
}

.section-second__subcontent-description {
    font-size: 14px;
    line-height: 22px;
}

.section-third {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0px 110px 0px 0px;
}

.section-third__note {
    width: 524px;
}

.section-third__note p {
    font-size: 14px;
    line-height: 22px;
}

.section-third__description {
    font-size: 32px;
    line-height: 44px;
}

.section-fourth {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.section-fourth__img {
    width: 684px;
}

.section-fourth__product {
    display: flex;
    gap: 10px;
}

.product-item {
    width: 338px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FFFFFF;

}

.product-item__main {
    width: 100%;
    height: 339.99px;
    border-radius: 10px;
    background-color: #F0F2EF;
    padding: 16px 15px;
    position: relative;
}

.product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.product-item__action-menu {
    display: flex;
    gap: 8px;
}

.product-item__action-favourite {
    cursor: pointer;
}

.button-action {
    background: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
}

.product-item__img {
    width: 301px;
    height: 301px;
    position: absolute;
    top: 0px
}

.product-color__item {
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.product-item__info-mobile {
    display: none;
}

.product-color {
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 312px;
    left: 110.5px;
}

.product-color__green {
    background-color: #A8A687;
}

.product-color__terracota {
    background-color: #C7A07C;
}

.product-color__light-blue {
    background-color: #D6E1EB;
}

.product-color__blue {
    background-color: #285E8F;
}

.product-color__number {
    font-size: 12px;
    line-height: 20px;
    color: #797E7E
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.product-item__info {
    width: 299px;
    display: flex;
    justify-content: space-between;
}

.product-item__info-name,
.product-item__info-price {
    font-size: 14px;
    line-height: 22px;
}

.section-fifth {
    width: 100%;
    height: 749px;
    position: relative;
    margin-top: -6px;
    margin-left: 6px;
}

.section-fifth__content {
    width: 575px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 60px;
}

.section-fifth__content-title {
    width: 524px;
}

.section-fifth__content-title h3 {
    font-family: 'Lora', sans-serif;
    font-size: 64px;
    line-height: 74px;
}

.section-fifth__content-description {
    font-size: 16px;
    line-height: 22px;
}

.section-fifth__img {
    width: 716px;
    height: 533px;
    position: absolute;
    border-radius: 24px 0px 0px 24px;
    left: 692.5px;
}

.section-fifth__list-item {
    width: 1377px;
    height: 336px;
    display: flex;
    gap: 31px;
    position: absolute;
    top: 412px;
}

.section-fifth__item {
    position: relative;
    width: 321px;
    height: 100%;
    background: #F4F0EA;
    border-radius: 16px;
}

.section-fifth__item-img {
    width: 81.67px;
    height: 86px;
    position: absolute;
    top: 66px;
    left: 138px;
}

.section-fifth__item-content {
    width: 285px;
    height: 110px;
    position: absolute;
    top: 208px;
    left: 14px;
}

.section-fifth__item-content p {
    font-size: 16px;
    line-height: 22px;
}

.section-sixth {
    width: 1440px;
    height: 800px;
    position: relative;
    overflow: hidden;
    transform: translateX(-26px);
}

.place-list {
    width: 1839px;
    height: 100%;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.place-list__item {
    width: 453px;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}

.place-list__item-image {
    height: 100%;
}

.place-list__item-name {
    position: absolute;
    top: 676px;
    left: 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.place-list__item-name p {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.place-list__item-name a {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

.section-sixth__action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-sixth__action-left,
.section-sixth__action-right {
    width: 42px;
    height: 46px;
    padding: 8xp;
}

.section-sixth__action-left {
    border-radius: 0px 8px 8px 0px;
}

.section-sixth__action-right {
    border-radius: 8px 0px 0px 8px;
}

/* footer */

.footer {
    margin-top: 80px;
    width: 100%;
    height: 416px;
    padding: 49px 49px 10px 49px;
    background-color: #F4F0EA;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.footer__subscribe-introduce {
    width: 236px;
}

.footer__subscribe-introduce p {
    font-size: 16px;
    line-height: 22px;
}

.footer__subscribe-join__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 313px;
}

.footer__subscribe-join__text h5 {
    font-size: 16px;
    line-height: 22px;
}

.footer__subscribe-join__text p {
    font-size: 14px;
    line-height: 22px;
}

.footer__subscribe-join__button {
    padding: 16px 50px;
    background-color: #1F1F1F;
    border-radius: 8px;
    margin-top: 10px;
    color: #FFFFFF;
}

.footer__subscribe-social {
    display: flex;
    gap: 9.29px;
}

.footer__subscribe-social__button {
    width: 31px;
    height: 31px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 682px;
    height: 172px;
    position: absolute;
    top: 49px;
    left: 681px;
}

.footer__menu-list {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__menu-list a {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.footer__sections {
    width: 1344px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 372px;
}

.footer__currency {
    display: flex;
    align-items: center;
}

.footer__currency-german {
    margin-left: 6px;
    margin-right: 20px;
    width: fit-content;
    border-bottom: 1px solid #000000;
}

.footer__currency-vietnamese {
    width: fit-content;
    border-bottom: 1px solid #000000;
}

.footer__currency-german a,
.footer__currency-vietnamese a {
    font-size: 14px;
    line-height: 14px;
}

.footer__legal {
    display: flex;
    gap: 13px;
}

.footer__legal p {
    font-size: 14px;
    line-height: 22px;
    color: #1F1F1F;
}

.footer__legal a {
    font-size: 14px;
    line-height: 22px;
    color: #797E7E;
}


/* mobile */
@media (max-width: 767px) {

    /* header */
    .header {
        width: 100%;
        height: 721px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .header__banner {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        position: absolute;
    }

    .header__banner--background {
        background-image: url('/public/images/mobile/banner.jpg');
    }

    .nav {
        width: 359px;
        margin-top: 8px;
        padding-top: 14px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav__sale-timer {
        width: 100%;
        height: 30px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 12px;
        background-color: #1F1F1F;
        color: #FFFFFF;
    }

    .nav__sale-timer-text {
        font-size: 9px;
        line-height: 14x;
    }

    .countdown__duration {
        font-size: 12px;
        line-height: 20px;
    }

    .countdown__label {
        font-size: 8px;
        line-height: 9px;
    }

    .nav__menu-logo {
        display: none;
    }

    .nav__menu-logo-mobile {
        display: block;
        position: absolute;
        top: 68px;
        left: 150px;
    }

    .nav__menu-search {
        display: none;
    }

    .nav__menu-text-login {
        display: none;
    }

    .nav__menu-list {
        justify-content: end !important;
    }

    .header__title {
        width: 342px;
        z-index: 1;
        text-align: center;
        position: absolute;
        top: 150px;
        left: 17px;
    }

    .header__title-text {
        font-family: 'Lora', sans-serif;
        font-size: 48px;
        line-height: 54px;
        color: #FFFFFF
    }

    .main-content {
        margin-top: 0px;
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section-first {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 709px;
        gap: 8px;
        margin-top: 10px;
    }

    .section-first__image {
        display: flex;
        gap: 4px;
        height: 289px;
    }

    .section-first__image-item {
        width: 177.27px;
    }

    .section-first__content {
        display: flex;
        flex-direction: column;
        gap: 12.5px;
        width: 353px;
        height: 324px;
        text-align: center;
    }

    .section-first__content p {
        font-size: 14px;
        line-height: 22px;
    }

    .section-second {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 8px;
    }

    .section-second__item1 {
        order: 2;
    }

    .section-second__item2 {
        order: 1;
    }

    .section-second__item3 {
        order: 3;
    }

    .section-second__item4 {
        order: 4;
    }

    .section-second__item {
        font-size: 20px;
    }

    .section-second__img,
    .section-second__item,
    .section-second__content1,
    .section-second__content2 {
        width: 100%;
        border-radius: 16px;
    }

    .section-second__content1 {
        background-color: #F4F0EA;
        padding: 34px 18px 54px 18px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 20px;
    }

    .section-second__content2 {
        background-color: #F4F0EA;
        padding: 20px 10px 20px 18px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 16px;
    }

    .section-second__title {
        font-family: 'Lato', sans-serif;
        font-size: 32px;
        line-height: 42px;
    }

    .section-second__subcontent {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .section-second__subcontent-title {
        font-size: 18px;
        line-height: 30px;
    }

    .section-second__subcontent-description {
        font-size: 14px;
        line-height: 22px;
    }

    .section-third {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 0px 5px;
    }

    .section-third__note {
        width: 100%;
    }

    .section-third__note p {
        font-size: 14px;
        line-height: 22px;
    }

    .section-third__description {
        font-size: 28px;
        line-height: 44px;
    }


    .section-fourth {
        width: 100%;
        height: 964px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .section-fourth__img {
        width: 100%;
        height: 422px;
    }

    .product-item {
        width: 182px;
        height: 247px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: #FFFFFF;

    }

    .product-item__main {
        width: 100%;
        height: 183px;
        border-radius: 10px;
        background-color: #F0F2EF;
        padding: 8px;
        position: relative;
        border-radius: 10px;
    }

    .product-item__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .product-item__action-menu {
        display: flex;
        gap: 8px;
    }

    .product-item__action-favourite {
        cursor: pointer;
    }

    .button-action {
        background: #FFFFFF;
        padding: 6px;
        border-radius: 4px;
        font-size: 9px;
    }

    .product-item__img {
        width: 168px;
        height: 168px;
        position: absolute;
        top: 0px;
        border-radius: 10px;
    }

    .product-color {
        display: none;
    }

    .product-item__info-desktop {
        display: none !important;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-item__info {
        width: 138px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-item__info-name {
        font-size: 14px;
        line-height: 22px;
    }

    .product-item__info-price {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    .product-item__info-price p {
        color: #1F1F1F;
        font-size: 14px;
        line-height: 22px;
    }

    .product-item__info-price span {
        color: #797E7E;
        font-size: 14px;
        line-height: 22px;
    }

    .product-item__info-promotion {
        width: 36px;
        height: 20px;
        border-radius: 4px;
        background-color: #E23333;
        padding: 0px 4px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 20px;
    }

    .section-fifth {
        width: 100%;
        height: 722px;
        position: relative;
    }

    .section-fifth__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: absolute;
    }

    .section-fifth__content-title h3 {
        font-family: 'Lora', sans-serif;
        font-size: 30px;
        line-height: 42px;
    }

    .section-fifth__content-description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .section-fifth__img {
        width: 375px;
        height: 289px;
        position: absolute;
        border-radius: 0px;
        left: 0px;
        top: 240px;
    }

    .section-fifth__list-item {
        width: 996px;
        height: 327px;
        display: flex;
        gap: 10px;
        position: absolute;
        top: 470px;
        left: 8px;
    }

    .section-fifth__item {
        position: relative;
        width: 245px;
        height: 100%;
        background: #F4F0EA;
        border-radius: 16px;
    }

    .section-fifth__item-img {
        width: 81.67px;
        height: 86px;
        position: absolute;
        top: 32px;
        left: 92px;
    }

    .section-fifth__item-content {
        width: 211px;
        height: 110px;
        position: absolute;
        top: 153px;
        left: 17px;
    }

    .section-fifth__item-content p {
        font-size: 16px;
        line-height: 22px;
    }



    .section-sixth {
        width: 100%;
        height: 535px;
        position: relative;
        overflow: hidden;
        transform: translateX(0px);
        margin-top: 80px;
    }

    .place-list {
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 0px;
        transform: translateX(-50%);
    }

    .place-list__item {
        width: 319px;
        height: 100%;
        overflow: hidden;
        border-radius: 16px;
        position: relative;
    }

    .place-list__item-image {
        height: 100%;
        width: 100%;
        border-radius: 16px;
    }

    .place-list__item-name {
        position: absolute;
        top: 429px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .place-list__item-name p {
        font-size: 28px;
        line-height: 44px;
        color: #FFFFFF;
    }

    .place-list__item-name a {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: underline;
        cursor: pointer;
    }

    .section-sixth__action {
        display: none;
    }


    .footer {
        margin-top: 40px;
        width: 100%;
        height: 900px;
        padding: 40px 16px;
        background-color: #F4F0EA;
        border-radius: 16px 16px 0px 0px;
        position: relative;
    }

    .footer__subscribe {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }


    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width:100%;
        height: 172px;
        position: absolute;
        top: 360px;
        left: 16px;
        gap: 40px;
    }

    .footer__sections {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        position: absolute;
        top: 822px;
        left: 16px;
        gap: 16px;
    }

    .footer__legal {
        display: flex;
        gap: 13px;
    }

    .footer__legal p {
        font-size: 12px;
        line-height: 20px;
        color: #1F1F1F;
    }

    .footer__legal a {
        font-size: 12px;
        line-height: 20px;
        color: #797E7E;
    }

}